.todoForm {
	width: 150%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(234, 242, 245);
}

.todoWrap {
	display: flex;
	flex-wrap: nowrap;
}

.todoBtn {
	padding: 0.1rem 0.9rem;
	border-radius: 12px;
	border: 1px solid var(--todoBtn-border-color);
	background-color: var(--todoBtn-bg-color);
	font-weight: bold;
	color: #ffffff;
	margin: 10px;
	height: 43px;
	cursor: pointer;
}

.todoBtn:hover {
	background-color: var(--todoBtn-hover-bg-color);
	border: 1px solid var(--todoBtn-hover-border-color);
	transition: all 0.3s;
}

.todoInput {
	width: 250px;
	padding: 0.22rem 1.5rem;
	height: 35px;
	display: flex;
	border-radius: 11px;
	outline-style: none;
	border: 1px solid var(--todoInput-border-color);
	margin: 10px;
}
