.todoLi {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 280px;
	min-height: 120px;
	background-color: rgb(244, 244, 248);
	border: 2px solid rgb(241, 241, 252);
	border-radius: 12px;
	padding: 1rem;
	margin: 20px 0 20px 0;
}

.title {
	overflow: hidden;
	color: #222;
	text-shadow: 0 1px 1px #999;
	margin-bottom: 0.2rem;
	font-size: 22px;
}

.body {
	font-size: 17px;
	overflow-wrap: break-word;
	color: #333;
}

.deleteDone {
	display: flex;
	justify-content: flex-end;
}

.delete {
	padding: 0.3rem;
	margin: 2px;
	cursor: pointer;
	border: 1px solid var(--delete-bg-color);
	border-radius: 5px;
}

.delete:hover {
	background-color: var(--delete-hover-bg-color);
	transition: all 0.3s;
	outline: none;
	color: #ffffff;
}

.done {
	padding: 0.3rem;
	margin: 2px;
	cursor: pointer;
	border: 1px solid var(--todoBtn-hover-border-color);
	border-radius: 5px;
}

.done:hover {
	background-color: var(--todoBtn-hover-bg-color);
	border: 1px solid var(--todoBtn-hover-border-color);
	transition: all 0.3s;
	outline: none;
}
