.WrapToDoList {
	width: 100%;
	background-color: var(--wrap-bg-color);
}

.todoState {
	min-height: 200px;
	margin-bottom: 3rem;
}

.working {
	margin: 30px 0 30px 0;
}

.TodoUl {
	margin: 1.3rem;
}

.TodoUl {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	min-height: 120px;
}
