:root {
	--todoBtn-border-color: pink;
	--todoBtn-bg-color: pink;
	--todoBtn-hover-bg-color: #5dc8cd;
	--todoBtn-hover-border-color: #5dc8cd;
	--todoInput-border-color: #999;
	--main-border-color: lightgrey;
	--main-box-shadow-color: lightgrey;
	--wrap-bg-color: #fff;
	--todoLi-bg-color: rgb(238, 238, 238);
	--todoLi-border-color: rgb(226, 226, 226);
	--delete-bg-color: #e74c3c;
	--delete-hover-bg-color: #e74c3c;
	--global-bg-color: #f0f0f0;
	--global-max-width: 1200px;
	--global-min-width: 800px;
	--global-height: 100vh;
	--global-border-radius: 15px;
	--title-color: #333;
}
