* {
	margin: 0;
	padding: 0;
	list-style: none;
}

.Main {
	margin: 0 auto;
	background-color: var(--global-bg-color);
	max-width: var(--global-max-width);
	min-width: var(--global-min-width);
	height: var(--global-height);
	border-radius: var(--global-border-radius);
}

.title {
	display: flex;
	margin: 3rem;
	color: var(--title-color);
	flex-direction: row;
	justify-content: space-between;
	font-size: 37px;
}
